fs/users/__pycache__/
fs/users/migrations/__pycache__/
fs/Posts/migrations/__pycache__/
fs/Posts/__pycache__/
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyo
*.pyc
media/
db.sqlite3